@{
	use Scabbia\views;
}
@views::viewFile('{core}views/blackmore/header.php')
@if(isset($message)) {
	<span>@_($message)</span>
} 
<script type="text/javascript">
  $(document).ready(function(){
    $("#frmAdd").validate();
  });
</script>

<section id="pageMiddle">
<div class="wrapper">
	<div class="inner">
		<table id="pageMiddleTable">
		<tbody>
		<tr>
			<td id="pageMiddleSidebar" style="">
				<div class="middleLine">
					<div class="menuDivContainer">
						<div class="menuDiv">
							<div class="menuDivHeader">
								<a class="boxed" href="@$root/blackmore/languages/languageList">@_('Languages')</a>
							</div>
							<ul>
								<li><a class="boxed iconlanguageadd" href="@$root/blackmore/languages/add">@_('Add language')</a></li>
								<li><a class="boxed iconlanguageadd" href="@$root/blackmore/languages/languageList">@_('Language list')</a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="clear">
				</div>
			</td>
			<td id="pageMiddleSidebarToggle">
				 «
			</td>
			<td id="pageMiddleContent">
				<div class="topLine">
				</div>
				<div class="middleLine">
					<h2 class="iconxlanguages">@_('Language')</h2>
					<form id="frmAdd" method="post" action="@$root/blackmore/languages/add">
							<input type="hidden" name="updateid" value="@if(isset($language['languageid'])){@$language['languageid']}">
							@_('ID') : <input type="text" name="languageid" value="@if(isset($language['languageid'])){@$language['languageid']}" @if(isset($language['languageid'])){readonly="readonly"} /><br />
							@_('Name') : <input type="text" name="name" class="required" minlength="3" value="@if(isset($language['name'])){@$language['name']}" /><br />
							<input type="submit" name="submit" value="@_('Save')" />
					</form>
				</div>
				<div class="bottomLine">
				</div>
				<div class="clear">
				</div>
			</td>
			<td id="pageMiddleExtra">
			</td>
		</tr>
		</tbody>
		</table>
	</div>
</div>
</section> 

@views::viewFile('{core}views/blackmore/footer.php')