@{
	use Scabbia\Extensions\Views\Views;
}
@Views::viewFile('{core}views/blackmore/header.php')
@if(isset($message)) {
	<span>@_($message)</span>
} 

<section id="pageMiddle">
<div class="wrapper">
	<div class="inner">
		<table id="pageMiddleTable">
		<tbody>
		<tr>
			<td id="pageMiddleSidebar" style="">
				<div class="middleLine">
					<div class="menuDivContainer">
						<div class="menuDiv">
							<div class="menuDivHeader">
								<a class="boxed" href="@$root/blackmore/questions/choices/@$question['questionid']">@_('Choices')</a>
							</div>
							<ul>
								<li><a class="boxed iconcategoryadd" href="@$root/blackmore/questions/addChoice/@$question['questionid']">@_('Add choice')</a></li>
								<li><a class="boxed iconcategoryadd" href="@$root/blackmore/questions/questionList">@_('Question list')</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clear">
				</div>
			</td>
			<td id="pageMiddleSidebarToggle">
				 «
			</td>
			<td id="pageMiddleContent">
				<div class="topLine">
				</div>
				<div class="middleLine">
					<h2 class="iconxcategories">@$question['content']</h2>
					<!--table sorter begin-->
					<table id="myTable" class="tablesorter"> 
						<thead> 
							<tr> 
							    <th>@_('Content')</th> 
							    <th>@_('Type')</th> 
							    <th></th>
							</tr> 
						</thead> 
						<tbody> 
							@foreach($choices as $choice){
								<tr>
									<td>@$choice['content']</td>
									<td>@Statics::$questionoptiontypes[$choice['type']]</td>
									<td>
										<a href="@$root/blackmore/questions/editChoice/@$question['questionid']/@$choice['questionchoiceid']">@_('Edit')</a> 
										<a href="@$root/blackmore/questions/deleteChoice/@$question['questionid']/@$choice['questionchoiceid']">@_('Delete')</a>
									</td>
								</tr>

							}
						</tbody> 
					</table>
					<!--table sorter end-->
					
					<div id="tablepager" style="top: 697px; position: absolute;">
						<form>
							<img src="/survey/scabbia/tablesorter/images/first.png" class="first">
							<img src="/survey/scabbia/tablesorter/images/prev.png" class="prev">
							<input type="text" class="pagedisplay" readonly="readonly">
							<img src="/survey/scabbia/tablesorter/images/next.png" class="next">
							<img src="/survey/scabbia/tablesorter/images/last.png" class="last">
							<select class="pagesize">
								<option value="10">10</option>
								<option selected="selected" value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
						</form>
					</div>
				</div>
				<div class="bottomLine">
				</div>
				<div class="clear">
				</div>
			</td>
			<td id="pageMiddleExtra">
			</td>
		</tr>
		</tbody>
		</table>
	</div>
</div>
</section> 

@Views::viewFile('{core}views/blackmore/footer.php')